<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hii Ayaan Here</h1>
    <form action="/create" method="post">
        <input placeholder="use name" type="text" name="userName">
        <input placeholder="email" type="email" name="email">
        <input placeholder="age" type="number" name="age">
        <input placeholder="password" type="password" name="password">
        <input type="submit" value="submit">
    </form>
</body>

</html>